.bg-S {
    background-color: #007000;
    color: white;
}

.bg-A {
    background-color: #288823;
    color: white;
}

.bg-B {
    background-color: #FFBF00;
}

.bg-C {
    background-color: gray;
}

.bg-D {
    background-color: #D2222D;
}

.bg-X {
    background-color: cyan;
}

.tier-1 {background-color: darkgray}
.tier-2 {background-color: gray}
.tier-3 {background-color: darkgreen}
.tier-4 {background-color: cornflowerblue}
.tier-5 {background-color: orangered}
.tier-6 {background-color: orange}
.tier-7 {background-color: yellow}
.tier-8 {background-color: white}