.bg-S {
    background-color: green;
}

.bg-A {
    background-color: greenyellow;
}

.bg-B {
    background-color: yellow;
}

.bg-C {
    background-color: gray;
}

.bg-D {
    background-color: red;
}