.bg-S {
    background-color: #007000;
    color: white;
}

.bg-A {
    background-color: #288823;
    color: white;
}

.bg-B {
    background-color: #FFBF00;
}

.bg-C {
    background-color: gray;
}

.bg-D {
    background-color: #D2222D;
}