{% extends "layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateJournals" value="1">
                        <button class="btn btn-primary" type="submit">update journal prices</button>
                    </form>
                </div>
                <div class="col-1">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateResources" value="1">
                        <button class="btn btn-primary" type="submit">update resource prices</button>
                    </form>
                </div>
                <div class="col-1">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateItemsBlackMarket" value="1">
                        <button class="btn btn-primary" type="submit">update Black Market item prices</button>
                    </form>
                </div>
                <div class="col-1">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateItemsFortSterling" value="1">
                        <button class="btn btn-primary" type="submit">update Fort Sterling item prices</button>
                    </form>
                </div>
                <div class="col-1">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateItemsLymhurst" value="1">
                        <button class="btn btn-primary" type="submit">update Lymhurst item prices</button>
                    </form>
                </div>
                <div class="col-1">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateItemsBridgewatch" value="1">
                        <button class="btn btn-primary" type="submit">update Bridgewatch item prices</button>
                    </form>
                </div>
                <div class="col-1">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateItemsMartlock" value="1">
                        <button class="btn btn-primary" type="submit">update Martlock item prices</button>
                    </form>
                </div>
                <div class="col-1">
                    <form method="post" action="/admin">
                        <input type="hidden" name="updateItemsThetford" value="1">
                        <button class="btn btn-primary" type="submit">update Thetford item prices</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
