{% extends "layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                <button class="btn btn-primary" type="submit" id="reloadDB">reload Database</button>
                <button class="btn btn-primary" type="submit" id="updatePrices">update Prices</button>
            </form>
        </div>
    </div>
{% endblock %}
