{% extends "layout.html.twig" %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title"><h3>Admin handle</h3></div>
            <p>Nothing..</p>
        </div>
    </div>
    <div class="card mt-3">
        <form id="testBla">
            <input type="checkbox" class="tierSelect" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> I have a bike</label><br>
            <input type="checkbox" class="tierSelect" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> I have a car</label><br>
            <input type="checkbox" class="tierSelect" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> I have a boat</label><br>
            <input type="checkbox" class="tierSelect" id="vehicle4" name="vehicle4" value="52">
            <label for="vehicle4"> I have a 52</label><br>
        </form>
        <div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Zahl</th>
                    <th>ABC</th>
                </tr>
                </thead>
                <tbody>
                <tr class="sellBike">
                    <td>1</td>
                    <td>A</td>
                </tr>
                <tr class="sellCar">
                    <td>2</td>
                    <td>B</td>
                </tr>
                <tr class="sellBoat">
                    <td>3</td>
                    <td>C</td>
                </tr>
                <tr class="sel52">
                    <td>4</td>
                    <td>D</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
