{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card bg-light mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <form action="" method="POST" id="refreshData">
                        <button class="btn btn-primary" type="submit"> Refresh Data</button>
                    </form>
                </div>
                <div class="col-5">
                    <form action="" method="GET" id="calculateByCity">
                        <div class="form-group">
                            <label for="citySelect">Select City</label>
                            <select name="citySelect" id="citySelect" class="form-control">
                                <option value="martlock">Martlock</option>
                                <option value="thetford">Thetford</option>
                                <option value="fortSterling">Fort Sterling</option>
                                <option value="lymhurst">Lymhurst</option>
                                <option value="bridgewatch">Bridgewatch</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Calculate By City</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


