{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div>
            <h1> Error 405 No access allowed</h1>
        </div>
    </div>
    <div class="row">
        Whoops... something went wrong
    </div>
    <div class="row">
        <a class="btn btn-primary" href="javascript:history.back()">Go Back</a>
    </div>
{% endblock %}