<div class="row">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary nav-fill w-100">
        <span class="mk mk-car-fav text-light"></span>
        <a class="navbar-brand" href="#">AlbionMarketTool</a>
        <button class="btn btn-primary d-md-none" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" align="right" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="/admin">Admin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn btn-primary" href="/info">Info</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Black Market
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/blackmarket/crafting">Crafting</a>
                        <a class="dropdown-item" href="/blackmarket/transporting">Transporting</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        Resource
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/resource/refining">Refining</a>
                        <a class="dropdown-item" href="/resource/transmutation">Transmutation</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        No Spec Crafting
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/noSpec/capes">Capes</a>
                        <a class="dropdown-item" href="/noSpec/enchanting">Enchanting</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        Farming
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/noSpec/herbs">Herbs</a>
                        <a class="dropdown-item" href="/noSpec/crops">Crops</a>
                        <a class="dropdown-item" href="/noSpec/animals">Animals</a>
                    </div>
                </li>
            </ul>
            <p> #BreakTheEconomy</p>
        </div>
    </nav>
</div>
