<div class="form-check">
    <table class="table">
        <tr>
            <td rowspan="4">
                <input type="checkbox" class="form-check-input" value="2" name="2" id="2">
                <label for="2" class="form-check-label">Tier 2</label>
            </td>
            <td rowspan="4">
                <input type="checkbox" class="form-check-input" value="3" name="3" id="3">
                <label for="3" class="form-check-label">Tier 3</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="4" name="4" id="4">
                <label for="4" class="form-check-label">Tier 4</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="5" name="5" id="5">
                <label for="5" class="form-check-label">Tier 5</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="6" name="6" id="6">
                <label for="6" class="form-check-label">Tier 6</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="7" name="7" id="7">
                <label for="7" class="form-check-label">Tier 7</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="8" checked name="8" id="8">
                <label for="8" class="form-check-label">Tier 8</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" class="form-check-input" value="4.1" name="4_1" id="4_1">
                <label for="4_1" class="form-check-label">Tier 4.1</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="5.1" name="5_1" id="5_1">
                <label for="5_1" class="form-check-label">Tier 5.1</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="6.1" name="6_1" id="6_1">
                <label for="6_1" class="form-check-label">Tier 6.1</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="7.1" name="7_1" id="7_1">
                <label for="7_1" class="form-check-label">Tier 7.1</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="8.1" checked name="8_1" id="8_1">
                <label for="8_1" class="form-check-label">Tier 8.1</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" class="form-check-input" value="4.2" name="4_2" id="4_2">
                <label for="4_2" class="form-check-label">Tier 4.2</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="5.2" name="5_2" id="5_2">
                <label for="5_2" class="form-check-label">Tier 5.2</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="6.2" name="6_2" id="6_2">
                <label for="6_2" class="form-check-label">Tier 6.2</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="7.2" name="7_2" id="7_2">
                <label for="7_2" class="form-check-label">Tier 7.2</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="8.2" checked name="8_2" id="8_2">
                <label for="8_2" class="form-check-label">Tier 8.2</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" class="form-check-input" value="4.3" name="4_3" id="4_3">
                <label for="4_3" class="form-check-label">Tier 4.3</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="5.3" name="5_3" id="5_3">
                <label for="5_3" class="form-check-label">Tier 5.3</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="6.3" name="6_3" id="6_3">
                <label for="6_3" class="form-check-label">Tier 6.3</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="7.3" name="7_3" id="7_3">
                <label for="7_3" class="form-check-label">Tier 7.3</label>
            </td>
            <td>
                <input type="checkbox" class="form-check-input" value="8.3" checked name="8_3" id="8_3">
                <label for="8_3" class="form-check-label">Tier 8.3</label>
            </td>
        </tr>
    </table>
</div>